extends layout

block content
  h1= title
  p Welcome to #{title} Info 

  p I am Rakshitha Boddireddy and I am from Warangal. Worked as a Associate Engineer at Virtusa 
  p Interested in movies, exploring places
